#list{
	font-family:Arial,sans-serif;
	font-size: 30px;
	padding: 100px 200px;
}

ul{
	width:100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;


	

}
li{
	cursor: pointer;
	padding: 10px 10px;
}
.result{
	font-family:Arial,sans-serif;
	font-size: 30px;
	padding: 100px 50px 20px;
}
#pages{
    display: flex;
	font-size: 30px;
	padding-bottom: 50px;
	font-family:Arial,sans-serif;
	color: #4c8bf5;
}
#essay{
	padding: 100px 0px;
}
#title{
	color: #1906A7;
}
#current{
	color:black;
	
}